.DraggableContainer #add-item {
    background-color: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: #182c50 solid 2px;
}

.DraggableContainer #add-item:hover {
    background-color: #ff5a00;
}

.DraggableContainer #add-item:active {
    background-color: #ff7d38;
}

